.form {
  border: 0.5em solid $black;
  padding: $space;

  &__fieldset {

    @include mq-600 {
      display: grid;
      grid-gap: $space;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  div {

    @include mq-600 {
      @supports(display: grid) {
        margin-bottom: 0;
      }
    }
  }

  &__row {

    &_double {
      @include mq-600 {
        display: flex;
        grid-column: span 2;

        div {
          max-width: 30ch;
          width: 50%;

          + div {
            margin-left: $space;
          }
        }
      }
    }

    &_cta {
      text-align: center;

      @include mq-600 {
        grid-column: span 2;
      }
    }
  }

  &__input {
    border: $border-thinner solid $light-medium-gray;
    border-radius: 0.25em;
    background: $lightest-gray;
    max-width: 30ch;
    padding: 0.25rem;
    width: 100%;

    &_checkbox {
      width: 1em;
    }
  }

  &__checkbox {
    display: flex;
    margin: $space 0;

    @include mq-600 {
      align-content: center;
      justify-content: center;
      grid-column: span 2;
    }
  }

  &__label_checkbox {
    margin-left: calc($space * 0.5);
  }

  &__button {
    background: hsl(238.2, 51.8%, 37.5%);
    color: white;
    cursor: pointer;
    font-weight: 700;
    padding: 0.75em 1em 0.5em;

    &:hover,
    &:focus {
      background: hsl(238.2, 51.8%, 55%);
      padding: 0.75em 1em 0.5em;
    }
  }
}