<form class="form" id="pledge" name="pledge" action="https://fairhousingpledge.com/api/pledges" method="POST">
  <p>I commit to the following:</p>
  <ul>
    <li class="small">Providing equal professional service to all, without regard to race, color, religion, gender (sex), disability (handicap), familial status, national origin, or other state and local protections, such as sexual orientation, gender identity, military status, and source of income, of any prospective consumer or resident of any community;</li>
    <li class="small">Staying informed of current fair housing and anti-discrimination laws and practices, to educate our consumers on their rights and our responsibilities;</li>
    <li class="small">Demonstrating through advertising that everyone is welcome and no one is excluded;</li>
    <li class="small">Respecting the diversity and differences within the consumer base and remaining informed of those differences in order to provide truly remarkable service;</li>
    <li class="small">Refusing to tolerate non-compliance in accordance with my broker’s leadership role in the real estate profession; and</li>
    <li class="small">Fostering inclusion in our industry and in the communities we serve.</li>
  </ul>
  <fieldset class="form__fieldset pad-top-2">
    <div class="form__row form__row_double">
      <div>
        <label for="firstName" class="form__label">First Name</label>
        <input type="text" name="firstName" id="firstName" class="form__input" value="" autocorrect="off" required />
      </div>
      <div>
        <label for="lastName" class="form__label">Last Name</label>
        <input type="text" name="lastName" id="lastName" class="form__input" value="" autocorrect="off" required />
      </div>
    </div>
    <div class="form__row">
      <label for="email" class="form__label">Email</label>
      <input type="email" name="email" id="email" autocapitalize="none" autocorrect="off" class="form__input" required />
    </div>
    <div class="form__row">
      <label class="form__label" for="state">State</label>
      <div class="form__select">
        <input type="text" name="state" id="state" class="form__input" list="states" required />
        <datalist id="states" class="c-select-field__menu">
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DE">Delaware</option>
          <option value="DC">District Of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </datalist>
      </div>
    </div>
    <div class="form__row">
            <label class="form__label" for="brand">Brand</label>
                <select name="brand" id="brand" class="form__input" required>
                  <option value="" disabled selected><i>Select your brand</i></option>
                  <option>Better Homes and Gardens Real Estate</option>
                  <option>Cartus</option>
                  <option>Century 21 Real Estate</option>
                  <option>Coldwell Banker - Company Owned (previously NRT)</option>
                  <option>Coldwell Banker - Affiliates</option>
                  <option>Coldwell Banker Commercial</option>
                  <option>Corcoran</option>
                  <option>ERA Real Estate</option>
                  <option>Sotheby's International Realty</option>
                  <option>Realogy Corporate</option>
                  <option>Realogy Title Group</option>
                  <option>Other</option>                                                                                                                        
                </select>       
    </div>    
    <div class="form__row">
      <label for="company" class="form__label">Company Name</label>
      <input type="text" name="company" id="company" class="form__input" value="" autocorrect="off" required />
    </div>
    <div class="visually-hidden">
      <input type="hidden" name="event" value="N/A">
    </div>
    <div class="visually-hidden">
      <input type="hidden" id="courseCompleted" name="courseCompleted" value="N/A">
    </div>
    <div class="form__row form__checkbox">
      <input type="checkbox" name="agreeToTerms" id="agreeToTerms" class="form__input_checkbox" required />
      <label for="agreeToTerms" class="form__label_decor" aria-hidden="true" role="presentation"></label>
      <label for="agreeToTerms" class="form__label_checkbox">I pledge to stand up for fair housing</label>
    </div>
    <div class="form__row form__row_cta">
      <button class="form__button" type="submit">Submit</button>    
    </div>
  </fieldset>
  <p class="small em pad-top-2">Nothing herein is intended to create an employment relationship. Any affiliation by you with your broker is intended to be that of an independent contractor licensee.</p>
</form>