{%- if site.title and site.description %}

{%- if slug == '.' %}{%- assign el = 'h1' %}
{%- else %}{%- assign el = 'p' %}{%- endif %}
<header role="banner" class="masthead container">
  <{{ el }} class="masthead__title">Take the Pledge</{{ el }}>
  <p class="masthead__description">Stand Up for Fair Housing</p>
</header>

{%- endif %}