    {%- if resources.links %}
    <section class="pad-top-2 pad-bottom pad-x text-align-center">
      <header>
        <h2>{{ resources.title }}</h2>
      </header>
      <ul>
        {%- for link in resources.links %}
        <li><a href="{{ link.href }}">{{ link.title }}</a></li>
        {%- endfor %}
      </ul>
    </section>
    {%- endif %}