<div class="thank-you">
  <div class="thank-you__row">
    <h1 class="thank-you__headline">Thank you!</h1>
    <p>Your pledge submission has been received.</p>
  </div>
  <div class="thank-you__row thank-you__row_cta">
    <a class="thank-you__button" href="/"><span role="presentation">&#8592;</span> Back to our site</a>
  </div>
</form>