<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Fair Housing Pledge | {{ title }}</title>
  <link rel="shortcut icon" href="/img/favicon/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/bundle.min.css">
</head>
<body class="admin">
  {% block masthead %}{% endblock %}
  {% block main %}{% endblock %}
</body>
</html>
