<<<<<<< HEAD
---
layout: scaffold
---
  <main id="content">
    {{ content }}
=======
---
layout: scaffold
---
  <main id="content">
    {{ content }}
>>>>>>> a39121be46b879b306d2e8f5ba39dbe7376b2640
  </main>