---
layout: layoutBehindCertificate
---

{% comment %} <form id="certificatePage"> {% endcomment %}

<div style="margin-left:4px">  

<div class="printWarningBanner">
    This certificate is designed for printing- don't try to sign electronically!
</div> 

  <img src="" 
  id="brandHeaderID" class="headerImg">

  <ul>
  <li class="caption">Providing equal professional service to all, without regard to race, color, religion, gender (sex), disability (handicap), familial status, national origin, sexual orientation, gender identity, or other state and local protections, such as military status, or source of income, of any prospective consumer or resident of any community;</li>
  <li class="caption">Staying informed of current fair housing and anti-discrimination laws and practices, to educate our consumers on their rights and our responsibilities;</li>
  <li class="caption">Demonstrating through advertising that everyone is welcome and no one is excluded;</li>
  <li class="caption">Respecting the diversity and differences within the <span id="brokerage1"></span> consumer base and remaining informed of those differences in order to provide truly remarkable service; </li>
  <li class="caption">Refusing to tolerate non-compliance in accordance with <span id="brokerage2"></span>’s leadership role in the real estate profession; and </li>
  <li class="caption">Fostering inclusion in our industry and in the communities we serve.</li>
  </ul>

  <img src=""
  id="brandFooterID" class="footerImg">
</div>

{% comment %} <div id="editor"></div>
<button id="cmd">Generate WHOLE PDF</button>

<body>
<button id="testB">generate PDeF</button>
</body> {% endcomment %}

{% comment %} </form> {% endcomment %}